<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyStoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|MyStore.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
  </connectionStrings>
  <appSettings>
    <add key="DataDirectory" value="..\..\..\MyStore.Web\App_Data\"/>
  </appSettings>
</configuration>